ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

li {
  padding-left: 1em;
  text-indent: -1em;
}

.pokemon-list-item:before {
  content: "🐱‍";
  padding-right: 5px;
}
.pokemon-list-item {
  color: palevioletred;
}
